<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.service.BodServiceImpl">


<insert id="insert">
	<selectKey keyProperty="b_seq" order="BEFORE" resultType="int">
		select max(b_seq)+1 from mt_${b_city}_board
	</selectKey>
INSERT INTO	mt_${b_city}_board
VALUES(
	   #{b_city},#{b_seq},
	   #{b_select},#{b_title},#{b_id},sysdate,#{b_content},0,NVL(#{b_adrimage},'NOIMAGE'),
	   sysdate,0)
		
</insert>



<delete id="remove">
DELETE mt_${b_city}_board
WHERE b_seq=#{b_seq}
</delete>

<update id="updateReply">
	update mt_${r_city}_board
	SET b_reply=b_reply+1
	where b_seq=#{r_num}
</update>




<update id="test">
	update mt_1_board 
	set b_id='change' 
	where b_seq=2
</update>






<select id="selectStyle" resultType="com.mt.domain.StyleVO">
<![CDATA[
		select * from mt_style where s_city=#{cityNum}
]]>
</select>



<select id="selectFree" resultType="com.mt.domain.BoardVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_board index_${cityNum}_board)*/ 
    rownum rn, mt_${cityNum}_board.* from mt_${cityNum}_board where rownum <= ${pageNum} * ${amount}
)
where rn > (${pageNum} -1) * ${amount}
]]>
</select>

<select id="selectFood" resultType="com.mt.domain.FoodVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_food index_${cityNum}_food)*/ 
    rownum rn, mt_${cityNum}_food.* from mt_${cityNum}_food where rownum <= ${pageNum} * ${amount}
)
where rn > (${pageNum} -1) * ${amount}
]]>
</select>

<select id="selectPlace" resultType="com.mt.domain.PlaceVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_place index_${cityNum}_place)*/ 
    rownum rn, mt_${cityNum}_place.* from mt_${cityNum}_place where rownum <= ${pageNum} * ${amount}
)
where rn > (${pageNum} -1) * ${amount}
]]>
</select>



<select id="freeTotalCount" resultType="int">
	select count(*) from mt_${cityNum}_board
</select>

<select id="foodTotalCount" resultType="int">
	select count(*) from mt_${cityNum}_food
</select>

<select id="placeTotalCount" resultType="int">
	select count(*) from mt_${cityNum}_place
</select>



<select id="readFree" resultType="com.mt.domain.BoardVO">
select * from mt_${cityNum}_board where b_seq=${seqNum}
</select>
<select id="readFood" resultType="com.mt.domain.FoodVO">
select * from mt_${cityNum}_food where f_seq=${seqNum}
</select>
<select id="readPlace" resultType="com.mt.domain.PlaceVO">
select * from mt_${cityNum}_place where l_seq=${seqNum}
</select>

<update id="modify">
UPDATE mt_${b_city}_board
SET b_title=#{b_title}, 
	b_updateDate=sysdate, b_content=#{b_content}
WHERE b_seq=#{b_seq}
</update>

<delete id="delete">
DELETE mt_${cityNum}_board
WHERE b_seq=#{seqNum}
</delete>

</mapper>