<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.service.BodServiceImpl">


<insert id="insert">
	<selectKey keyProperty="b_seq" order="BEFORE" resultType="int">
		select max(b_seq)+1 from mt_${b_city}_board
	</selectKey>
INSERT INTO	mt_${b_city}_board
VALUES(
	   #{b_city},#{b_seq},
	   #{b_select},#{b_title},#{b_id},sysdate,#{b_content},0,NVL(#{b_adrimage},'NOIMAGE'),
	   sysdate,0)
		
</insert>



<delete id="delete">
DELETE mt_${b_city}_board
WHERE b_seq=#{b_seq}
</delete>




<update id="modify">
UPDATE mt_${b_city}_board
SET b_title=#{b_title}, 
	b_updateDate=sysdate, b_content=#{b_content}
WHERE b_seq=#{b_seq}
</update>





<select id="read" resultType="com.mt.domain.ResultVO">
SELECT * 
FROM mt_${p_city}_${p_selectname}
<if test="p_select==1"> WHERE b_seq=#{p_seq}</if>
<if test="p_select==2"> WHERE f_seq=#{p_seq}</if>
<if test="p_select==3"> WHERE l_seq=#{p_seq}</if>
</select>





<select id="list" resultType="com.mt.domain.ResultVO">
SELECT * 
FROM(SELECT ROWNUM NUMROW,mt_${p_city}_${p_selectname}.* FROM mt_${p_city}_${p_selectname}
<if test="p_select==1"> ORDER BY B_SEQ DESC) </if>
<if test="p_select==2"> ORDER BY F_RANK ASC) </if>
<if test="p_select==3"> ORDER BY L_RANK ASC) </if>
 <![CDATA[ WHERE NUMROW >= #{p_end} AND NUMROW <= #{p_start}]]> 
 </select>




<select id="myTotalRow">
SELECT count(*) FROM(
		SELECT * FROM mt_1_board
		UNION
		SELECT * FROM mt_2_board
		UNION
		SELECT * FROM mt_3_board
		UNION
		SELECT * FROM mt_4_board
		UNION
		SELECT * FROM mt_5_board
		UNION
	SELECT * FROM mt_6_board) 
WHERE b_id=#{p_id}
</select>




<select id="myBoard" resultType="com.mt.domain.BoardVO">
SELECT * FROM
	(SELECT * FROM
		(SELECT * FROM mt_1_board
		UNION
		SELECT * FROM mt_2_board
		UNION
		SELECT * FROM mt_3_board
		UNION
		SELECT * FROM mt_4_board
		UNION
		SELECT * FROM mt_5_board
		UNION
		SELECT * FROM mt_6_board)
	WHERE r_id=#{p_id} 
ORDER BY r_select)
</select>




<select id="bTotalRow" resultType="int">
SELECT COUNT(*)
FROM mt_${p_city}_${p_selectname}
</select>









<update id="updateReply">
	update mt_${r_city}_board
	SET b_reply=b_reply+1
	where b_seq=#{r_num}
</update>




<update id="test">
	update mt_1_board 
	set b_id='change' 
	where b_seq=2
</update>

<select id="getListWithPaging" resultType="com.mt.domain.ResultVO">
	<![CDATA[
		select *
		from(
				select/* */
	
	
	
	
	]]>
	

</select>












<select id="selectStyle1" resultType="com.mt.domain.StyleVO">
<![CDATA[
		select * from mt_style where s_city=#{cityNum}
]]>
</select>



<select id="selectFree" parameterType="java.util.HashMap" resultType="com.mt.domain.BoardVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_board index_${cityNum}_board)*/ 
    rownum rn, mt_${cityNum}_board.* from mt_${cityNum}_board where rownum <= ${cri.pageNum} * ${cri.amount}
)
where rn > (${cri.pageNum} -1) * ${cri.amount}
]]>
</select>



<select id="selectFood" resultType="com.mt.domain.FoodVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_food index_${cityNum}_food)*/ 
    rownum rn, mt_${cityNum}_food.* from mt_${cityNum}_food where rownum <= #{pageNum} * #{amount}
)
where rn > (#{pageNum) -1) * #{amount}
]]>
</select>



<select id="selectPlace" resultType="com.mt.domain.PlaceVO">
<![CDATA[
select
* from
(
	select /*+index_asc(mt_${cityNum}_place index_${cityNum}_place)*/ 
    rownum rn, mt_${cityNum}_place.* from mt_${cityNum}_place where rownum <= ${pageNum} * #{amount}
)
where rn > (#{pageNum) -1) * #{amount}
]]>

</select>



</mapper>